body {
    margin: 0;
}

main {
    height: 100vh;
    font-family: "Inter", serif;
    background-color: hsl(0, 0%, 8%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 12%);
    padding: 35px;
    align-items: center;
    text-align: center;
    max-width: 310px;
    width: 80%;
    border-radius: 10px;
    row-gap: 10px;
}

.profile-info {
    line-height: 0.8;
}

.country {
    color: hsl(75, 94%, 57%);
    font-size: 14px;
    font-weight: 600;
}

.links {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    width: 100%;
}

.link {
    width: 100%;
    padding: 14px 0;
    background-color: hsl(0, 0%, 20%);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth hover transition */
}

.link:hover {
    cursor: pointer;
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}

.name {
    font-weight: 400;
    font-size: 25px;
}

.avatar {
    border-radius: 50%;
    width: 90px;
}

.description {
    font-size: 14px;
    font-weight: 300;
}

.attribution {
    margin-top: 30px;
}

@media (max-width: 720px) {
    .profile {
        padding: 20px;
    }

    .link {
        padding: 12px 0; /* Reduce button padding slightly on small screens */
    }
}
